.container {
  display: flex;
  margin: 5px 40px;
  padding: 15px;
  justify-content: space-around;

  h2 {
    font-family: raustila;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    direction: ltr;
    font-weight: 400;
    font-style: normal;
    color: #9b0ad0;
    font-size: 36px;
    cursor: pointer;
  }
}

.container__nav {
  display: flex;
  gap: 15px;
  justify-content: space-evenly;

  h3 {
    font-family: raustila;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    direction: ltr;
    font-weight: 400;
    font-style: normal;
    color: #9b0ad0;
    font-size: 28px;
    cursor: pointer;
  }
}
