.container {
  margin: 0 30px;
  padding-top: 10px;
}

.container__data {
  display: flex;
  justify-content: space-between;
}

.data__dataUser {
  h1 {
    font-family: raustila;
    font-weight: 400;
    font-style: normal;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    color: #9b0ad0;
    font-size: 54px;
    direction: ltr;
  }

  h2 {
    font-family: raustila;
    font-weight: 400;
    font-style: normal;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    color: #d1aa65;
    font-size: 32px;
    direction: ltr;
  }
  h4 {
    margin: 0;
    color: #9b0ad0;
    font-family: Oswald;
    font-size: 20px;
    direction: ltr;
    font-weight: 400;
    font-style: normal;
    text-shadow: 1px 1px rgb(186, 184, 184);
  }
}

.data__buttonNewWorker {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dataWorkers__variables {
  display: flex;
  align-items: center;
  justify-content: center;

  button {
    margin-right: 120px;
    background-color: transparent;
    border: none;
    font-family: Oswald;
    font-weight: 400;
    font-style: normal;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    color: #9b0ad0;
    font-size: 24px;
    direction: ltr;
    cursor: pointer;
  }
}

.variables__dataWorkers {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 10px;
}

.dataWorkers {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 10px;

  h4 {
    margin: 0;
    color: #9b0ad0;
    font-family: Oswald;
    font-size: 20px;
    direction: ltr;
    font-weight: 400;
    font-style: normal;
    text-shadow: 1px 1px rgb(186, 184, 184);
  }

  button {
    margin-right: 120px;
    background-color: transparent;
    border: none;
    font-family: raustila;
    font-weight: 400;
    font-style: normal;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    color: #9b0ad0;
    font-size: 36px;
    direction: ltr;
    cursor: pointer;
  }
}

.tableOfWorkers {
  th {
    text-align: center;
  }
  td {
    text-align: center;
  }
}

.data__workerDays {
  margin-top: 30px;
  gap: 70px;
  display: flex;
}

.tableOfPlaces {
  margin: 0 40px;
  th {
    text-align: center;
  }
  td {
    text-align: center;
  }
}
